*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#141414, #544e4e);
}

.container{
       padding: 10px;
       width: 380px;
       margin: 0 auto;
        
}

.header{
   width: 380px;
   height: 200px;
   background-image: url(./img/bg.jpg);
   background-size: 100% 200%;
   background-repeat: no repeat;
   border-radius: 16px 16px 0 0;
   position: relative;
}

.header .clear{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.clear i{
    font-size: 30px;
    color: white;
}

.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}

#date{
    height: 20px;
    width: 100px;
    color: white;
    font-size: 16px;
    bottom: 5px;
    padding-left: 10px;
    padding-top: 150px;
    
}

/* content */

.content{
    width: 380px;
    height: 350px;
    min-height: 350px;
    background-color: white;
    overflow: auto;
}

.content ul{
    padding: 0;
    margin: 0;
}

.item{
    width: 380px;
    height: 40px;
    min-height: 40px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin: 0;
}

.item i.co{
    position: absolute;
    font-size: 23px;
    padding-left: 5px;
    left: 15px;
    top: 10px;
}

.item i.co:hover{
    cursor: pointer;
}

.fa-check-circle{
    color: #6eb200;
}

.item p.text{
    position: absolute;
    padding:0;
    margin: 0;
    font-size: 20px;
    left: 50px;
    top: 5px;
    background-color: white;
    max-width: 285px;
}

.lineThrough{
    text-decoration: line-through;
    color: black;
}

.item i.de{
    position: absolute;
    font-size: 27px;
    padding-right: 3px;
    top: 7px;
    right: 5px;
}

.item i.de:hover{
    color: #af0000;
    cursor: pointer;
}

/*-------add item--------*/
.add-to-do{
    position: relative;
    width: 360px;
    height: 40px;
    background-color: white;
    padding:10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-radius:0 0 16px 16px ;
}

.add-to-do i{
    position: absolute;
    font-size: 40px;
    color: #4162f6;
}

.add-to-do input{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 310px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left: 10px;
}

.add-to-do input::-webkit-input-placeholder{
    color: #4162f6;
    font-size: 20px;
}

body .night{
    background-image: url(/img/night.jpg);
}

body .day{
    background-image: url(/img/day.jpg);
}

body .sunset{
    background-image: url(/img/sunset.jpg);
}
